/* 
Reset
*/

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;  
}

html, body{
    overflow-x: hidden;
    max-width: 100%;
}

.row{
    width: 80%;
    margin: auto;
    margin-bottom: 20px;
}

.container{
    margin-top: 20px;
}

/* 
Common
*/

.image{
    max-width: 200px;
    position: relative;
}

img{
    max-height: 100%;
    max-width: 100%;
}

.no-margin{
    margin-left: 0;
}

.image-description{
    margin-left: 10px;
    display: inline-block;
}

/* 
Style description 
*/

.marca{
    color: grey;
    font-size: 10px;
    display: block;
}

.tipo{
    font-size: 12px;
    font-weight: bold;
    display: block;
    margin-bottom: 0;
}

.prezzo{
    color: red;
    font-size: 10px;
}

.prezzo-precedente{
    text-decoration: line-through;  
    color: grey;
    font-size: 10px;
}

.sconto{
    color: white;
    font-size: 10px;
    background-color: red;
    position:absolute;
    bottom: 30px;
    padding: 2px;
}

.sostenibilita{
    color: white;
    background-color: green;
    position: absolute;
    font-size: 10px;
    bottom: 30px;
    left: 30px;
    padding: 2px;    
}

.position-sostenibilita{
    left: 0;
}

.wishlist{
    right: 0;
    position: absolute;
    color: black;
    padding: 2px 6px;
    top: 10px;
    background-color: white;
    font-size: 15px;
}