/* 
Reset
*/

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;  
}

html, body{
    overflow-x: hidden;
    max-width: 100%;
}

/* 
Clearfix
*/

.row{
    width: 80%;
    margin: auto;
}

/* 
Common
*/

.image{
    margin-left: 10px;
    max-width: 200px;
    display: inline-block;

}

img{
    max-height: 100%;
    max-width: 100%;
}

.no-margin{
    margin-left: 0;
}