/* 
Reset
*/

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;  
}

html, body{
    overflow-x: hidden;
    max-width: 100%;
}

.row{
    width: 80%;
    margin: auto;
    margin-bottom: 20px;
}

.container{
    margin-top: 20px;
}

/* 
Common
*/

.image{
    max-width: 200px;
}

img{
    max-height: 100%;
    max-width: 100%;
}

.no-margin{
    margin-left: 0;
}

.image-description{
    margin-left: 10px;
    display: inline-block;
}

/* 
Style description 
*/

.marca{
    color: grey;
    font-size: 10px;
    display: block;
}

.tipo{
    font-size: 12px;
    font-weight: bold;
    display: block;
    margin-bottom: 0;
}

.prezzo{
    color: red;
    font-size: 10px;
}

.prezzo-precedente{
    text-decoration: line-through;  
    color: grey;
    font-size: 10px;
}